
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    font-family: 'Lato', sans-serif;

}
.section-1{
    background-image: url("image/black.jpg");
    background-repeat: no-repeat;
    padding: 280px 0x;
    text-align: center;
}
.section-1 h1{
    color: aliceblue;
}