@media (max-width:1300px) 
{
    body{
        background-color: #5d5458;
        color: aqua; }}

 @media (max-width:900px) {
    body{
        background-color: #FFC312;
        color:red ;
    }
    
 }    
 @media (max-width:500px) {
    body{
        background-color: darkcyan;
        color: beige;
    }
    
 }   

*{
    margin:0;
    padding: 0;
}
.box{
    width: 250px;
    height: 250px;
    background-color: #B53471;
   margin:100px auto;
   position: relative;
}
.inner-box{
    width: 75px;
    height: 75px;
    background-color:#FFC312;
    margin:auto;
    position: absolute;
    top: 100%;
    right: 100%;
}