.manu{
  background-color:red;
}

.manu ul{
  display: flex;
  list-style: none;
  justify-content: center;

}
 .manu ul li a:hover{
  background-color: black;
  color: antiquewhite;

}
.manu ul li a{
  color: white;
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}


h1 {
  margin: 20px;
  text-align: center;
  color: red;
  font-size: 45px;
}
.baba {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.chela {
  width: 45%;
  background-color: blueviolet;
  padding: 10px;
}
.maya {
  width: 45%;
  background-color: aqua;
  padding: 10px;
}
/* new flex */

.team-section {
  background-color: chartreuse;
  padding: 50px 0;
}
.container {
  width: 90%;
  margin: auto;
}
.section-title {
  margin-bottom: 30px;
  font-size: 30px;
}
.team-members {
  display: flex;
  justify-content: space-between;
}
.member {
  width: 24%;
}
.member img {
  width: 100%;
}
.member h2{
    
}