h2{
    margin: 20px;
    text-align: center;
    color: red;
font-size: 45px;
}
.baba{
display: flex;
justify-content: space-between;
box-sizing: border-box;
}
.chela{
    width: 45%;
    background-color: blueviolet;
    padding: 10px;
}
.maya{
    width: 45%;
    background-color: aqua;
    padding: 10px;
}
/* new flex */

.team-section{
    background-color:darkorange;
}
.container{
    width: 90%;
    padding: 50px;
    margin: auto;
}